<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.store.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>%date{ISO8601} %-5level %logger{64} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ASYNC_CONSOLE" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="CONSOLE" />
    </appender>

    <logger name="slick" level="INFO" />
    <logger name="com.zaxxer.hikari" level="INFO" />
    <logger name="akka.io" level="INFO" />

    <root level="DEBUG">
        <appender-ref ref="ASYNC_CONSOLE"/>
    </root>
</configuration>
